 <!-- Saya Nabilla Assyfa Ramadhani [2205297]  mengerjakan LP11
  dalam mata Desain dan Pemograman Berorientasi Objek 
  untuk keberkahanNya maka saya tidak melakukan kecurangan 
  seperti yang telah dispesifikasikan. 
  Aamiin -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Detail NAMA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }

    .button {
    color: white;
    margin-top: 2.5cm;
    margin-left: 2.5cm;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(13, 13, 14);
    } 

    .button:hover {
    background-color: rgb(145, 145, 145);
    }
</style>
  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <button class="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Tambah Data</button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="index.php" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Tambah Data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-6">
                        <label for="exampleFormControlInput1" class="form-label">NIK </label>
                        <input type="text" class="form-control" name="nik" required>
                    </div>
                    <div class="row">
                    <div class="mb-6">
                      <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Nama </label>
                      <input type="text" class="form-control" name="nama" required>
                    </div>
                    </div>
                    <div class="mb-6">
                      <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Tempat </label>
                      <input type="text" class="form-control" name="tempat" required>
                    </div>
                    </div>
                    </div>
                    <div class="mb-6">
                      <label for="exampleFormControlInput1" class="form-label">Tanggal Lahir </label>
                      <input type="date" class="form-control" name="tl" required>
                  </div>
                  <div class="mb-6">
                    <label for="exampleFormControlInput1" class="form-label">Jenis Kelamin </label>
                    <select name ="gender" class="form-control me-2" required>
                      <option value="Perempuan">Perempuan</option>
                      <option value="Laki-laki">Laki-laki</option>
                  </select>
                </div>
                <div class="mb-6">
                  <label for="exampleFormControlInput1" class="form-label">Email </label>
                  <input type="email" class="form-control" name="email" required>
              </div>
              <div class="mb-6">
                <label for="exampleFormControlInput1" class="form-label">No Handphone </label>
                <input type="text" class="form-control" name="telp" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" name="add">Tambah</button>
            </div>
            </div>
        </form>
    </div>
    </div>
  </div>

  <div style="margin-left: 5%">
    <br>
    
    <!-- Tabel 1 -->
    <div style="display: inline-block; ">
      <h3>TABEL PASIEN</h3>
      <!-- TABEL1 -->

      <table align="left" border="1" class="table" style="text-align: center;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">NO</th>
            <th scope="col">NIK</th>
            <th scope="col">NAMA</th>
            <th scope="col">TEMPAT</th>
            <th scope="col">TANGGAL LAHIR</th>
            <th scope="col">GENDER</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NO TELEPON</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tr>

          DATA_TABEL
        </tr>

      </table>

      <br>


    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="assets/scripts/script.js"></script>
</body>

</html>